.*
!.gitignore

# This is not relevant to the technical information. Please ignore it
# The habit of waking up late in the morning
# The tendency to persistently dwell on problems
# Tnd a philosophical approach to coding